# Local environment / secrets
.env

db.sqlite3
*.sqlite3
*.json


# VS Code workspace
cll.code-workspace

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
.venv-py313-old/
venv/

# Django/static local files
staticfiles/
media/