{% extends 'maintenance/main.html' %}
{% load humanize %}
{% block content %}

<h1>Visit Center</h1>
<body>
    <div class="row">
        <div class="col-md">
        <h7>TOTAL VISITS IN SYSTEM: <strong>{{visits_count}}</strong></h7>
        <hr>

        <div class="row">
            <div class="col">
                <div class="card card-body">
                    <a class="btn btn-primary  btn-block" href="{% url 'create_visit' %}">Add New Visit</a>
                 
                  
                </div>
                
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card card-body">
                    <form method="get">
                            {{myFilter.form}}
                    <button class="btn btn-primary" type="submit">Search</button>
    
                  </form>
                </div>
            </div>
        </div>

        <br>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Customer</th>
                    <th>Site Name</th>
                    <th>Visit Type</th>
                    <th>Visit Date</th>
                    <th>Crew Leader</th>
                    <th>Crew Size</th>
                    <th>Total Man Hours</th>
                    <th>Notes</th>
                </tr>
        
                
                    
                    {% for visit in visits %}
                    <tr>
                        <td>{{visit.contract.customer}}</td>
                        <td>{{visit.contract}}</td>
                        <td>{{visit.visit_type_name}}</td>
                        
                        <td>{{visit.visit_date}}</td>
                        <td>{{visit.crew_leader}}</td>
                        <td>{{visit.crew_size}}</td>
                        <td>{{visit.total_man_hours}}</td>
                        <td>{{visit.notes|slice:":20"}}</td>
                    </tr>
                    {% endfor %}
                    
            </table>
        </div>
    </div>
</body>
<p></p>

{% endblock %}

<td><a class="btn btn-info  btn-sm btn-block" href="{% url 'view_visit' visits.visit.id %}">View</a></td>
<td><a class="btn btn-primary  btn-sm btn-block" href="{% url 'update_visit' visits.visit.id %}">Update</a></td>
