{% extends 'maintenance/main.html' %}
{% load humanize %}
{% load employee_tags %}
{% block content %}

<h1>{% if show_inactive %}Inactive Employees{% else %}Employee Center{% endif %}</h1>
    <div class="row">
        <div class="col-md">
        <h6>{% if show_inactive %}INACTIVE{% else %}ACTIVE{% endif %} EMPLOYEES: <strong>{{employees_count}}</strong></h6>
        <hr>

        <div class="row">
            <div class="col">
                <div class="card card-body d-flex flex-row gap-2">
                    {% if not show_inactive %}
                    <a class="btn btn-primary btn-block" href="{% url 'create_employee' %}">Add New Employee</a>
                    <a class="btn btn-secondary btn-block" href="{% url 'inactive_employees' %}">Inactive Employees</a>
                    {% else %}
                    <a class="btn btn-primary btn-block" href="{% url 'employees' %}">Active Employees</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
        <div class="card card-body">
            <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead class="table-dark">
                    <tr>
                        <th><a href="{% sort_url 'first_name' %}" class="text-decoration-none link-light">First Name {% if sort == 'first_name' %}{% if order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                        <th><a href="{% sort_url 'last_name' %}" class="text-decoration-none link-light">Last Name {% if sort == 'last_name' %}{% if order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                        <th><a href="{% sort_url 'position' %}" class="text-decoration-none link-light">Position {% if sort == 'position' %}{% if order == 'asc' %}▲{% else %}▼{% endif %}{% endif %}</a></th>
                        <th>Work Phone</th>
                        <th>Personal Phone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                    <tr>
                        <td><a href="{% url 'view_employee' employee.uuid %}" class="text-decoration-none fw-semibold">{{employee.first_name}}</a></td>
                        <td><a href="{% url 'view_employee' employee.uuid %}" class="text-decoration-none fw-semibold">{{employee.last_name}}</a></td>
                        <td>{{employee.employee_title}}</td>
                        <td>{{employee.work_phone}}</td>
                        <td>{{employee.personal_phone}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
<p></p>

{% endblock %}
