{% extends 'maintenance/main.html' %}
{% load humanize %}
{% block content %}

<h1>{% if show_inactive %}Inactive Employees{% else %}Employee Center{% endif %}</h1>
<body>
    <div class="row">
        <div class="col-md">
        <h7>{% if show_inactive %}INACTIVE{% else %}ACTIVE{% endif %} EMPLOYEES: <strong>{{employees_count}}</strong></h7>
        <hr>

        <div class="row">
            <div class="col">
                <div class="card card-body d-flex flex-row gap-2">
                    {% if not show_inactive %}
                    <a class="btn btn-primary btn-block" href="{% url 'create_employee' %}">Add New Employee</a>
                    <a class="btn btn-secondary btn-block" href="{% url 'inactive_employees' %}">Inactive Employees</a>
                    {% else %}
                    <a class="btn btn-primary btn-block" href="{% url 'employees' %}">Active Employees</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Position</th>
                    <th>Work Phone</th>
                    <th>Personal Phone</th>
                    <th>View</th>
                    <th></th>
                </tr>
        
                
                    
                    {% for employee in employees %}
                    <tr>
                        <td>{{employee.first_name}}</td>
                        <td>{{employee.last_name}}</td>
                        <td>{{employee.employee_title}}</td>
                        <td>{{employee.work_phone}}</td>
                        <td>{{employee.personal_phone}}</td>
                        <td><a class="btn btn-info  btn-sm btn-block" href="{% url 'view_employee' employee.id %}">View</a></td>
                    </tr>
                    {% endfor %}
                    
            </table>
        </div>
    </div>
</body>
<p></p>

{% endblock %}

<td><a class="btn btn-info  btn-sm btn-block" href="{% url 'view_visit' visits.visit.id %}">View</a></td>
<td><a class="btn btn-primary  btn-sm btn-block" href="{% url 'update_visit' visits.visit.id %}">Update</a></td>
