{% extends 'maintenance/main.html' %}
{% load static %}
{% load humanize %}
<!-- {% load crispy_forms_tags %} -->
{% load crispy_forms_filters %}
{% block content %}

<h1>Please add new or update customer details..</h1>
<hr>
<body>
    <form actions="" method="POST">
        <div class="row">
            <div class="col-sm-12"> 
    
                {% csrf_token %}
                {{form|crispy}}
                </table><BR>
                <input class="btn btn-primary" type="submit" name="Submit">
                <a class="btn btn-danger" href="{% url 'customers' %}">Cancel</a>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
{% endif %}
    
            </div>
        </div>
    
        
    </form>

</body>

{% endblock %}